.header {
  overflow-x: auto;
  padding-block: 8px;
  padding-inline: 8px;

  display: inline-flex;
  justify-content: space-between;
  gap: 0.5rem;
}

.header__add-button {
  gap: 0.5rem;
  border-left: 1px solid var(--foreground);
  min-width: 140px;
  padding: 0.5rem;
  line-height: 1;

  color: var(--muted-foreground);
  border-radius: unset;
  border-bottom-right-radius: var(--radius);
  display: inline-flex;
  height: 100%;
  align-items: center;
  font-size: 1rem;
}

.header__add-button:hover,
.header__add-button:focus {
  color: var(--foreground);
  background-color: var(--secondary);
}

.header__add-icon {
  height: 1.2rem;
  width: 1.2rem;
}

.dark .header__add-icon {
  filter: invert(99%) sepia(100%) saturate(0%) hue-rotate(306deg)
    brightness(105%) contrast(100%);
}

.navigation {
  display: flex;
  flex: 1;
}

.navigation__wrapper {
  list-style: none;

  display: flex;
  align-items: center;
  justify-content: center;
  flex-grow: 1;
}

.navigation__item {
  display: flex;
  justify-content: center;
  font-size: 1rem;
  color: var(--muted-foreground);
  cursor: pointer;
  min-width: 150px;
  max-width: 200px;
  padding: 0.5rem;
  user-select: none;
  overflow: hidden;
  border-radius: var(--radius);

  position: relative;
}

.navigation__item:hover,
.navigation__item:focus,
.navigation__item_selected {
  color: var(--foreground);
  background-color: var(--secondary);
}

.navigation__item-text {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.dark .navigation__item-icon {
  filter: invert(99%) sepia(100%) saturate(0%) hue-rotate(306deg)
    brightness(105%) contrast(100%);
}

.navigation__item-delete {
  height: 1.25rem;
  margin-left: 2px;
}

.navigation__item-delete:hover {
  filter: invert(33%) sepia(76%) saturate(4208%) hue-rotate(245deg)
    brightness(92%) contrast(87%);
}

.navigation__item_selected::after {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 2px;
  content: "";
  background-color: var(--primary);
}

.navigation__item_droppable {
  transition: transform 0.01s;
  transform: translateX(-9999px);
}
