:root {
  --background: hsl(258, 100%, 100%);
  --foreground: hsl(258, 5%, 10%);
  --card: hsl(258, 50%, 100%);
  --card-foreground: hsl(258, 5%, 15%);
  --popover: hsl(258, 100%, 100%);
  --popover-foreground: hsl(258, 100%, 10%);
  --primary: hsl(258, 67%, 58%);
  --primary-foreground: hsl(0, 0%, 100%);
  --secondary: hsl(258, 30%, 90%);
  --secondary-foreground: hsl(0, 0%, 0%);
  --muted: hsl(220, 30%, 95%);
  --muted-foreground: hsl(258, 5%, 40%);
  --accent: hsl(220, 30%, 90%);
  --accent-foreground: hsl(258, 5%, 15%);
  --destructive: hsl(0, 100%, 50%);
  --destructive-foreground: hsl(258, 5%, 100%);
  --border: hsl(258, 30%, 82%);
  --input: hsl(258, 30%, 50%);
  --ring: hsl(258, 67%, 58%);
  --radius: 0.5rem;
}

.dark {
  --background: hsl(258, 50%, 10%);
  --foreground: hsl(258, 5%, 100%);
  --card: hsl(258, 50%, 10%);
  --card-foreground: hsl(258, 5%, 100%);
  --popover: hsl(258, 50%, 5%);
  --popover-foreground: hsl(258, 5%, 100%);
  --primary: hsl(258, 67%, 58%);
  --primary-foreground: hsl(0, 0%, 100%);
  --secondary: hsl(258, 30%, 20%);
  --secondary-foreground: hsl(0, 0%, 100%);
  --muted: hsl(220, 30%, 25%);
  --muted-foreground: hsl(258, 5%, 65%);
  --accent: hsl(220, 30%, 25%);
  --accent-foreground: hsl(258, 5%, 95%);
  --destructive: hsl(0, 100%, 50%);
  --destructive-foreground: hsl(258, 5%, 100%);
  --border: hsl(258, 30%, 50%);
  --input: hsl(258, 30%, 50%);
  --ring: hsl(258, 67%, 58%);
  --radius: 0.5rem;
}

html {
  font-size: 18px;
  height: 100vh;
  overflow: hidden;
  @supports (height: 100dvh) {
    height: 100dvh;
  }
}

body {
  height: 100%;
  background-color: var(--background);
  font-family: Arial, Helvetica, sans-serif;
  display: flex;
  flex-direction: column;
}

main {
  overflow: auto;
  flex: 1;
}

input {
  color: var(--foreground);
  background-color: var(--background);
  border-radius: var(--radius);
  border: 1px solid var(--input);
  padding-inline: 0.25rem;
  text-align: center;
  width: 100%;
}

dialog {
  position: absolute;
  padding: 2rem;
  width: 512px;
  justify-self: center;
  align-self: center;
  background-color: var(--background);
}

dialog::backdrop {
  background-color: rgba(0, 0, 0, 0.6);
  bottom: 0;
  left: 0;
  position: fixed;
  right: 0;
  top: 0;
}

.button {
  border-radius: var(--radius);
  padding-block: 0.5rem;
  padding-inline: 1rem;
  border: none;
  cursor: pointer;
  background-color: unset;
}

.button_primary {
  background-color: var(--primary);
  color: var(--primary-foreground);
}

.button_primary:hover {
  background-color: hsl(from var(--primary) h s l / 0.8);
}

.bookmark-form {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.bookmark-form__item {
  font-size: 1rem;
  color: var(--foreground);
}

.bookmark-form__input {
  font-size: 0.75rem;
  padding-block: 0.25rem;
  text-align: start;
}

.bookmark-form__footer {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.bookmark-form__delete-btn_hidden {
  display: none;
}

*::-webkit-scrollbar {
  height: 4px;
  width: 4px;
}

*::-webkit-scrollbar-track {
  background: var(--muted);
  border-radius: var(--radius);
}

*::-webkit-scrollbar-thumb {
  background-color: var(--muted-foreground);
  border-radius: var(--radius);
}
